.present{
    .node_img, .npm_img, .ng-img{
        width: 150px;
        margin: 0;
        border: 0;
        box-shadow: none;
        background: transparent;
    }
    .npm_img{
        position: relative;
        top: 22px;
    }
    .ng-img{
        width: 450px;
    }
    .default-img{
        margin: 0;
        border: 0;
        box-shadow: none;
        background: transparent;
    }
}
.grunt-code{
    font-size: 18px; margin-top: 20px; text-align: center;
}